*.i64
*.idb
*.i32
build
debug
release
compile_commands.json
realworldctf/ccls
.gdb_history
peda-session-info.txt
peda-session-*.txt
*.id0
*.id1
*.id2
*.nam
*.til
*.o

./tjctf2018/file_patched.dmp
./trendmicro18/_EATME.pdf.extracted/galf.txt
./sect2018/batou
./csaw18/disk.img0
./tjctf2018/file_patched.dmp
./trendmicro18/_EATME.pdf.extracted/galf.txt
./sect2018/batou
