.side-nav a {
    color: rgba(0,0,0,0.87) !important;
    display: block !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    height: 60px !important;
    line-height: 60px !important;
    padding: 0 32px !important;
}

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    float: left !important;
    line-height: 60px !important;
    margin: 0 32px 0 0 !important;
    width: 24px !important;
}
